<h1 class="h1">gestClasseurs</h1>


Une div support doit etre creer avec une id.


<div id="classeurTest" class="gestClasseursSupport">&nbsp;support du classeur  id="classeurTest"</div>

creation du classeur (le nom est l'id de la div)<br>

<span class="pointeur" onclick="classeurTest.show('feuille3');">rendre visible la feuille cachée</span><br>
<span class="pointeur" onclick="classeurTest.hide('feuille3');">caché la feuille initialement cachée</span><br>


<script>
// creation du classeur	(le nom est l'id de la div)
classeurTest=new Tclasseur({"nom":"classeurTest"});

// - chargement d'une feuille - //
classeurTest.loadFeuille({"nom":"accueil","titre":"accueil général","texte":"<h2>accueil</h2>"});

classeurTest.loadFeuille({"nom":"feuille2","titre":"detail","texte":"nouvelle feuille chargée"});
classeurTest.write({feuille:'feuille2',texte:'ce texte remplacera le contenu de la feuille'});
classeurTest.append({feuille:'feuille2',texte:'<br>ce texte ser ajouté au contenu de la feuille'});

classeurTest.loadFeuille({nom:'feuille3',titre:'invisible',"texte":"cette feuille sera caché"});
classeurTest.hide('feuille3');


classeurTest.select('feuille2');
/*	
	
classeur2.loadFeuille({nom:'feuilleCache',titre:'feuille caché'});
classeur2.loadFeuille({nom:'a_detruire',titre:'a detruire'});
classeur2.loadFeuille({nom:'feuille22',titre:'plans'});

classeur2.write({feuille:'noFeuille',txt:'contenue de noFeuille'});

//classeur2.show('feuille21');
//classeur2.destruct('a_detruire');
//classeur2.hide('feuilleCache');
*/
</script>

