/*
feuille de style:html4.css
date de modification: 2014.06.04
*/
/*html{font-size:100%;background-color:transparent;}*/
body{
	font-size:1em;
	font-family:"Verdana", sans-serif;
	background-color:#4C4;
	margin:0;padding:0;text-align:left;
	color:Black;
	}

/* ----------------  Mise en page  -----------------------	*/
.pageLarg{min-width:500px;max-width:90%;}
#page{
	display:block;
	position:relative;
	margin:0;
	background:#0C0 url('') no-repeat right top;
	padding:0 10px;
	border:0;	
	}

#header{
	/*position:absolute;
	top:0;left:0;
	min-height:2px;
	min-width:600px;width:100%;max-width:100%;
	overflow:hidden;
	*/
	position:relative;
	overflow:visible;
	background-color:#000;
	margin:0 auto;
	color:#7BE;
	text-align:center;
	/*height:0;*/
	/*
	border:0;
	border-top:1px solid Red;
	border-bottom:1px solid Blue;
	background:#111 url('') no-repeat right top;
	color:#F7B61D;
	font-size:0.8em;
	*/
}

#header.h1{
	background-color:#079907;
	color:#7BE;
	font-weight:bold;
	}

/*header:hover{height:20px;}*/
#header.h1 a{color:#073;}
/* - headerGauche, headerDroit sont des divs inclus dans header- */
#headerGauche{position:absolute;top:0;left:0;text-align:left;}
#headerDroit {position:absolute;top:0;right:0;text-align:right;}


#footer{
	position:relative;
	overflow:visible;
        background-color:#000;
        margin:0 auto 0 auto;
	font-size:0.8em;
        color:#7BE;
        text-align:center;
	}
#footer h1{
        color:#7BE;
        font-weight:bold;
        }

#footer a{color:White;}

#footerGauche{position:absolute;top:0;left:0;text-align:left;}
#footerDroit {position:absolute;top:0;right:0;text-align:right;}

#menuSystemeStatique h2{margin-top:1em;padding-left:2em;background-color:#FFF;}

#menuSystemeStatique
	{
	position:relative;
/*	top:middle;left:middle;*/
	/*width:20em;max-width:20em;min-width:20em;*/
	border:1px solid Blue;
	margin:0;
	background:#111 url('') no-repeat right top;
	padding:1em;
	color:#F7B000;
	}
#menuSystemeStatique .titre
	{
	background:#26D3CA url('') no-repeat right top;
	text-align:center;
	}

/* Titre */
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal; font-size:1em; font-family:Georgia, Times, serif; }

h1{font-size:1.60em; color:#000; text-align:center; font-weight:bold;}
h2{margin-top:1.75em;font-size:1.40em; font-weight:bold;color:#003;}
h3{margin-top:1.5em;font-size:1.20em; font-weight:normal; }
h4{margin-top:1em;font-size:1.20em; font-weight:normal; }
h5{margin-top:1em;font-size:1em; font-weight:normal; }
h6{margin-top:1em;font-size:1em; font-weight:normal; }


/* Typo */
/*
strong{font-weight:bold; }
em{font-style:italic; }
abbr, acronym{border-bottom:1px dotted; cursor:help; }
small{font-size:0.90em; color:#666; }
dfn{font-weight:bold; color:#666; }
del{text-decoration:line-through; }
ins{color:red !important; text-decoration:none; }
sup, sub{font-size:.8em; font-variant:normal; }
div{position:relative;margin:0;padding:0;}
*/
/* Tableaux */
table
	{
	border:none Black;
	margin:auto 3px 0px;
	border-bottom:none;
	border-color:#000;
,g	border-right:4px;
	}
table caption, caption
	{
	text-align:center;
	white-space:nowrap;
	font-weight:bold;
	}
thead{
	background-color:Blue;
	border-color:Lime;
	border-style:solid;
	text-align:center;
	}

table tr:{
	background-color:inherit;
}

table tr:hover{
	background-color:#336;
}

/*  input */ßßßßß÷
input, textarea
	{
	background-color:#ß11A0FF;
	color:#000;
	text-indent:2px;
	border-bottom:inset Navy;
	border:none #00CED1;
	font-family:sans-serif;
	font-size:0.9em;
	}
select{
	font-family:verdaßna;
; ¿¿¿¿¿¿¿¿¿¿÷ßßßßßßßßßßßß	font-weight:bold; 
	font-size:0.9em; 
	border:1px solid #000000;
}
option{
	background-color:#11A0FF;

}
option.selected{
	background-color:#ACF;
}

textarea{
	width:100%;
}
/* ----------------  Text  -----------------------	*/
a{color:#573;text-decoration:none;}
/*a:focus,a:hover,a:active{color:#073;text-decoration:underline;}*/
a:focus,a:hover{color:#073;}
/* Logos, documents et images */
/*img{margin:0;padding:0;border:0;}*/


